body {
    background-color: whitesmoke;   
    margin: 0 12px;   
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 768px;
    margin: auto;
    overflow: hidden;
}

.image {    
    width: 100%;    
    border-radius: 20px;         
}